[submodule ".registry"]
	path = .registry
	url = https://github.com/chjackson/universe
	shallow = true
	branch = HEAD
[submodule "survextrap"]
	path = survextrap
	url = https://github.com/chjackson/survextrap
	shallow = true
	registered = true
[submodule "voi"]
	path = voi
	url = https://github.com/chjackson/voi
	shallow = true
	registered = true
